<section>
	<h1>List of pokemon</h1>

	<a href="/pokemon/create"><button>create</button></a>
	<table>
		<tr>
			<td>Name</td>
			<td>Type</td>
		</tr>
		{{#each pokemons}}
			<tr>
				<td>{{this.name}}</td>
				<td>{{this.type}}</td>
			</tr>
		{{/each}}
	</table>
</section>