<!-- views/reset-password.handlebars -->

<main class="flex min-h-screen items-center justify-center bg-indigo-500">
	<div class="w-full max-w-md rounded-lg bg-white p-8 shadow-md mx-8">
		<h1 class="mb-4 text-center text-3xl font-semibold text-indigo-500">Reset
			Password</h1>

		<!-- Display a greeting message to the user -->
		<p class="mb-4 text-center text-indigo-500">Hello,
			{{first_name}}
			{{last_name}}!</p>

		<!-- Display a message regarding the password change request -->
		<p class="mb-4 text-center text-indigo-500">You have requested to reset your
			password. Please enter a new password below.</p>

		<!-- Reset password form -->
		<form action="/api/sessions/reset-password" method="post">
			<input type="hidden" name="email" value="{{email}}" />
			<div class="mb-4">
				<label
					for="password"
					class="block text-sm font-medium text-gray-700"
				>New Password</label>
				<input
					type="password"
					id="password"
					name="password"
					placeholder="Enter your new password"
					class="w-full rounded border p-2 focus:border-indigo-500 focus:outline-none"
				/>
			</div>

			<!-- Add additional form fields if needed (e.g., confirm password) -->

			<button
				type="submit"
				class="w-full rounded bg-indigo-500 p-2 text-white hover:bg-indigo-600 focus:bg-indigo-600 focus:outline-none"
			>
				Reset Password
			</button>
		</form>

		<!-- Add a link to go back to the login page -->
		<a
			href="/api/sessions/login"
			class="block text-center mt-4 text-indigo-500 hover:underline"
		>Back to Login</a>
	</div>
</main>

<script src="/reset-passwordLogic.js"></script>