<main class="flex min-h-screen items-center justify-center bg-indigo-500">
	<div class="w-full max-w-md rounded-lg bg-white p-8 shadow-md mx-8">
		<h1 class="mb-4 text-center text-3xl font-semibold text-indigo-500">Password
			Reset Successful</h1>

		<p class="mb-4 text-center text-indigo-500">Your password has been
			successfully reset. You can now login with your new password.</p>

		<!-- Add a link to go to the login page -->
		<form action="/api/sessions/login" method="post">
			<div class="mb-4">
				<input
					type="text"
					name="email"
					placeholder="Email"
					value={{email}}
					class="w-full rounded border p-2 focus:border-indigo-500 focus:outline-none"
				/>
			</div>
			<div class="mb-4">
				<input
					type="password"
					name="password"
					placeholder="Password"
					class="w-full rounded border p-2 focus:border-indigo-500 focus:outline-none"
				/>
			</div>
			<button
				type="submit"
				class="w-full rounded bg-indigo-500 p-2 text-white hover:bg-indigo-600 focus:bg-indigo-600 focus:outline-none"
			>
				Login
			</button>
		</form>
		<a
			href="/session/forgot-password"
			class="block text-center mt-4 text-indigo-500 hover:underline"
		>Forgot Password</a>
	</div>
</main>