<main
	class="flex min-h-screen items-center justify-center bg-indigo-500 flex-col gap-4"
>
	<div class="bg-red-500 rounded p-4 text-white">
		<h1 class="text-4xl font-bold flex gap-3">Error
			<svg
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				stroke-width="1.5"
				stroke="currentColor"
				class="w-10 h-10"
			>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z"
				/>
			</svg>

		</h1>
		<p>{{error}}</p>
	</div>

	<button
		class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded"
		onclick="window.history.back()"
	>Go Back</button>

	<a href="/session/login">
		<button
			class="bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded"
		>Login</button>
	</a>
</main>