<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>PokeDex Api</title>
	</head>
	<body>
		<header>
			<img
				src="/pokemonLogo.png"
				alt="img of pokemon logo"
				style="max-width: 100px"
			/>
			<h1>PokeDex Api</h1>
		</header>
		{{{body}}}
	</body>
</html>