<main>
	<section class="bg-gray-900 text-white py-20 px-10">
		<h1 class="text-5xl font-bold mb-6">
			Hello
			<span
				class="capitalize bg-clip-text text-transparent bg-gradient-to-r from-orange-500 to-purple-500"
			>{{user}}!</span>

		</h1>
		<p class="text-gray-400 text-uppercase">
			Welcome to my website!
		</p>
	</section>
</main>