<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<script src="https://cdn.tailwindcss.com"></script>

	</head>

	<body class="bg-gray-900 flex flex-col justify-start min-h-screen">
		<header class="bg-purple-600">
			<nav
				class="container mx-auto max-w-screen-lg flex items-center justify-between px-4 py-6"
			>
				<div>
					<a href="/" class="text-white font-bold">My Website</a>
				</div>
				<div class="hidden md:flex space-x-6">
					<a
						href="/products"
						class="text-white hover:text-gray-200"
					>products</a>
					<a href="/chat" class="text-white hover:text-gray-200">chat</a>
					<a href="/carts" class="text-white hover:text-gray-200">carts</a>
				</div>
				<div class="md:hidden">
					<button
						id="mobileNavButton"
						class="text-white md:hidden focus:outline-none"
					>
						<svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
							<path
								fill-rule="evenodd"
								d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"
							/>
						</svg>
					</button>
					<div
						id="mobileNavMenu"
						class="hidden md:hidden bg-purple-600 text-white text-center py-4"
					>
						<a
							href="/products"
							class="block py-2 hover:text-gray-200"
						>Products</a>
						<a href="/chat" class="block py-2 hover:text-gray-200">Chat</a>
						<a href="/carts" class="block py-2 hover:text-gray-200">carts</a>
						<button
							id="mobileNavCloseButton"
							class="text-white mt-4 focus:outline-none"
						>
							<svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
								<path
									fill-rule="evenodd"
									d="M13.41 12l5.3-5.29a1 1 0 0 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0L12 13.41l5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42l-5.3-5.29z"
								/>
							</svg>
						</button>
					</div>
				</div>
			</nav>
		</header>
		{{{body}}}
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

		<script src="/socket.io/socket.io.js"></script>
	</body>

	<style>
		.debug{ border: 1px solid red; } ::-webkit-scrollbar { width: 12px; /*
		Adjust to your preferred width */ height: 12px; /* Adjust to your preferred
		height */ } /* Define scrollbar track color */ ::-webkit-scrollbar-track {
		background-color: rgb(17, 24, 39); } /* Define scrollbar thumb style */
		::-webkit-scrollbar-thumb { background: linear-gradient(rgba(146, 51, 234,
		0.747), rgba(17, 24, 39)); border-radius: 12px; border: 2px solid rgb(17,
		24, 39);} /* Define scrollbar thumb on hover (optional) */
		::-webkit-scrollbar-thumb:hover { background: linear-gradient(rgba(147, 51,
		234), rgba(17, 24, 39)); }
	</style>
	<script src="/menu.js" type="module"></script>
</html>